<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RouteLocalizationMVC.WebSample</title>
</head>
	<body>
		<div>
			@RenderBody()
		</div>
		<div>
			<p>Current Culture: @System.Threading.Thread.CurrentThread.CurrentCulture.Name</p>
			<p>Current localized Route: @Url.RouteUrl(ViewContext.RouteData.Values)</p>
			@{
				var routeValueDictionaryEN = new RouteValueDictionary(ViewContext.RouteData.Values) { { "Culture", "en" } };
				<p>Current Route (en): @Url.RouteUrl(routeValueDictionaryEN)</p>
			}	
			@{
				var routeValueDictionaryDE = new RouteValueDictionary(ViewContext.RouteData.Values) { { "Culture", "de" } };
				<p>Current Route (de): @Url.RouteUrl(routeValueDictionaryDE)</p>
			}	
		</div>
	</body>
</html>
